
@media (max-width: 1023px) {
  .search_input {
    display: none;
  }

  .search {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 450ms;
  }
  
  .inputMobile {
    border: 1px solid #FBC5A6;
    border-radius: 10px;
    padding-left: 25px;
    flex-grow: 1;
    outline: 0;
    position: absolute;
    width: 100%;
    background: transparent;
    opacity: 0;
  }
  
  .search_button {
    border: none;
    background: transparent;
  }
  
  .search:focus-within {
    background-color: white;
    width: 100vw;
    height: 50px;
    padding-top: 9px;
    margin-left: calc(-100vw / 4);
    opacity: 1;
    z-index: 100;
  }

  .inputMobile:focus {
    opacity: 1;
    z-index: initial;
    cursor: initial;
  }
}

@media (min-width: 1024px){
  .search_submit {
    display: none;
  }

  .inputWeb {
    height: 32px;
    padding-left: 25px;
    border: 1px solid #FBC5A6;
    box-sizing: border-box;
    border-radius: 10px;

    background: url("../icons/search.svg");
    background-position: 5px;
    background-repeat: no-repeat;
  }
}
